mixin contact-list({address, mail, phone, website})
  .contact-list
    .contact-list__row
      .contact-list__title address
      .contact-list__text= address
    .contact-list__row
      .contact-list__title e-mail
      .contact-list__text
        a.contact-list__link(
            href=`mailto: ${mail}`
          )= mail
    .contact-list__row
      .contact-list__title phone
      .contact-list__text
        a.contact-list__link(href=`tel: ${phone}`)= phone
    .contact-list__row
      .contact-list__title website
      .contact-list__text
        a.contact-list__link(
            href=`http://${website}`
            rel="noopener noreferrer"
            target="_blank"
          )= website