mixin personal-data({imgSrc, alt, name, surname, profession})
  header.personal-data
    .personal-data__picture
      img.personal-data__img(src=imgSrc alt=alt)
    h1.personal-data__name= name
    h2.personal-data__surname= surname
    span.personal-data__profession= profession